body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 40px;
  background-color: lightgray;
}

ol, ul {
  padding-left: 30px;
}
.nav{

margin-bottom: 20px;

}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#searchform{
  margin-left: 50px;
}

input{
  height: 22px;
  width: 300px;
  font-size: 20px;
}

td{
  font-size: 20px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
